## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [25]:
import pandas as pd

In [26]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [11]:
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [20]:
males = data[data["sex"] == "Male"]
average_age = males["age"].mean()
print(f"Average age of males: {average_age:.2f}")

Average age of males: 39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [41]:
total = data.shape[0]
US_citizen_count = data[data['native-country'] == 'United-States'].shape[0]

print(f"Fraction of US citizens: {(US_citizen_count / total):.2f}")

Fraction of US citizens: 0.90

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [61]:
less = data[data["salary"] == "<=50K"]
more = data[data["salary"] == ">50K"]

age_less = less["age"]
age_more = more["age"]

print(f"Average age (<=50K): {age_less.mean():.2f}")
print(f"Average age (>50K): {age_more.mean():.2f}")

print(f'\nStandard deviation of age (<=50K): {age_less.std():.2f}')
print(f'Standard deviation of age (>50K): {age_more.std():.2f}')

Average age (<=50K): 36.78
Average age (>50K): 44.25

Standard deviation of age (<=50K): 14.02
Standard deviation of age (>50K): 10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [74]:
edu_set = {"Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "*Doctorate"}
all = more.shape[0]
with_education = more[more["education"].isin(edu_set)].shape[0]

print(f"All people (>50K): {all}")
print(f"With eduction( >50K): {with_education}\n")

if with_education == all:
    print("True")
else:
    print("False")

All people (>50K): 7841
With eduction( >50K): 4229

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [80]:
stats = data.groupby(["race", "sex"])["age"].describe()
print(f"Statistics for age by race and gender: {stats}")

aspacis_males = data[(data["race"] == "Asian-Pac-Islander") & (data["sex"] == "Male")]
print(f'\nMaximum age of Asian-Pac-Islander male: {aspacis_males["age"].max()}')

Statistics for age by race and gender:                              count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Maximum age of Asian-Pac-Islander male: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [92]:
married_set = {"Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"}

married = data[(data["sex"] == "Male") & data["marital-status"].isin(married_set)]
unmarried = data[(data["sex"] == "Male") & ~data["marital-status"].isin(married_set)]

married_earns_more = married[married["salary"] == ">50K"].shape[0]
unmarried_earns_more = unmarried[unmarried["salary"] == "<=50K"].shape[0]

print(f"Fraction of married males (>50K): {(married_earns_more / married.shape[0]):.2f}")
print(f"Fraction of unmarried males (>50K): {(unmarried_earns_more / unmarried.shape[0]):.2f}")

Fraction of married males (>50K): 0.44
Fraction of unmarried males (>50K): 0.92

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [110]:
max_h = data["hours-per-week"].max()
workers_max_h = data[data["hours-per-week"] == max_h]
max_h_rich = workers_max_h[workers_max_h["salary"] == ">50K"].shape[0]
percent_rich_max_h = (max_h_rich / workers_max_h.shape[0]) * 100

print(f"Max hours per week: {max_h}h")
print(f"Number of people with {max_h}h per week: {workers_max_h.shape[0]}")
print(f"Percentage of high earners: {percent_rich_max_h:.2f}%")

Max hours per week: 99h
Number of people with 99h per week: 85
Percentage of high earners: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [126]:
stats = data.groupby(['native-country', 'salary']).agg(average_hours_per_week=('hours-per-week', 'mean'))
print(stats)

                       average_hours_per_week
native-country salary
?              <=50K                40.164760
               >50K                 45.547945
Cambodia       <=50K                41.416667
               >50K                 40.000000
Canada         <=50K                37.914634
...                                       ...
United-States  >50K                 45.505369
Vietnam        <=50K                37.193548
               >50K                 39.200000
Yugoslavia     <=50K                41.600000
               >50K                 49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [4]:
bins = [16, 35, 70, 100]
labels = ["young", "adult", "retiree"]

data["age_group"] = pd.cut(data["age"], bins=bins, labels=labels, right=False)
stats = data.groupby('age_group', observed=True).size()

print(stats)

age_group
young      14049
adult      17883
retiree      629
dtype: int64

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [17]:
rich = data[data["salary"] == ">50K"]
stats = rich.groupby('age_group', observed=True).size()

max_age_group = stats.idxmax()

print("Number of people earning >50K in each age group:\n", stats)
print(f"\nThe age group where earning more than 50K: {max_age_group}")

Number of people earning >50K in each age group:
 age_group
young      1488
adult      6240
retiree     113
dtype: int64

The age group where earning more than 50K: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [41]:
def filter_func(data):
    result = (data["age"].mean() <= 40) & (data["hours-per-week"] > 5).all()
    return result

filtered_occupation = data.groupby("occupation").filter(filter_func)["occupation"].value_counts()
print("Occupations where the average age is <= 40 and all workers work more than 5 hours per week:\n")
print(filtered_occupation)

Occupations where the average age is <= 40 and all workers work more than 5 hours per week:

occupation
Armed-Forces    9
Name: count, dtype: int64